@import "tailwindcss";

@theme {
    --primary: #044e54;
    --grey: #0f172a;
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}